* 
{
    font-family: 'Poppins', sans-serif;
}

html, body
{
    height: 100%;
}

body
{
    display: grid;
    grid-template-rows: auto 1fr auto;
}

nav a
{
    font-family: 'Pacifico', cursive;
}

.card
{
    border-radius: 15px;
    transition: 1s;
}

.card:hover
{
    transform: scale(1.1);
    transition: 1s;
}